html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

body {
    background-color: darkcyan; 
}

h1 {
    display: flex;
    justify-content: center;
    /* margin: 32px auto; */
    /* text-align: center; */
    position: relative;
    /* max-width: 100%; */
    /* overflow-x: hidden; */
}

i {
    text-align: center;
    margin-top: 14px;
}

/* h1:after {
    content: 'build-a-bitch.com';
    position: absolute;
    top: 100px;
    left: 100px;
    transform: skewY(-5deg);
    color: #000;
} */

.window {
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    border: outset 2px;
    box-shadow: 0px 0px 10px 1px black;
    background-color: #e4e7ec; 
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background: darkblue;
    background: linear-gradient(90deg, darkblue 0%, darkmagenta 100%);

    color: white;
    font-weight: bold;
    user-select: none;
}

.banner-title {
    margin: 0 auto 0 8px;
    font-size: 21px;
    font-style: italic;
    position: relative;
}

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    color: black;
    border: outset 1px;
    border-radius: 1px;
    height: 21px;
    width: 21px;
    line-height: 21px;
    margin: 2px 0px 2px 2px;
    cursor: pointer;
    position: relative;
}

.banner-btn:last-child {
    margin-right: 2px;
}

.banner-btn:active {
    border-style: inset; 
}

.banner-btn span {
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: black;
}

.banner-btn span:nth-child(1) {
    transform: rotate(45deg);
}

.banner-btn span:nth-child(2) {
    transform: rotate(-45deg);
}

.window-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0 32px;
    z-index: 1;
}

.offer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -7vw;
    top: -3vw;
    transform: rotate(-25deg);
    background-color: yellow;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 1vw;
    font-size: 1vw;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    width: 5vw;
    height: 5vw;
    color: black;
    font-style: normal;
}


.censored {
    font-family: sans-serif;
}



#wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

.t-wrapper {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    /* padding: 16px; */
    /* background-color: blue; */
}

label {
    width: 250px;
    line-height: 32px;
    font-size: 21px;
}

.toggle {
    position: relative;
    height: 32px;
    width: 52px;
    cursor: pointer;
    border-radius: 32px;
    /* margin: 0 auto; */
}

.toggle span {
    position: absolute;
    transition: .2s;
    z-index: -1;
}

.toggle span:nth-child(1) {
    height: 32px;
    width: 52px;
    border-radius: 2rem;
    background-color: #c6c9cd;
}

.toggle span:nth-child(2) {
    height: 28px;
    width: 28px;
    left: 2px;
    top: 2px;
    border-radius: 28px;
    background-color: #e9edf1;
    box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.15);
}

.toggle.on span:nth-child(1) {
    transition-delay: .15s;
    background-color: #05c46b;
    /* background-color: #ff0000; */
}

.toggle.on span:nth-child(2) {
    transform: translateX(20px);
    box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.15);
}

#card-info {
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

#card-info label {
    font-size: 16px;
}

#card-info input {
    margin-bottom: 16px;
}

.window-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: bold;
}

.window-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e7ec;
    color: black;
    border: outset 1.5px;
    border-radius: 2px;
    width: 100px;
    padding: 8px 0;
    cursor: pointer;
}

.window-btn:active {
    border-style: inset; 
    /* box-shadow: 0 0 0 0; */
}

#scam {
    height: 64px;
    width: 128px;
    margin: 16px auto;
    margin-bottom: 0;
    font-size: 18px;
    /* padding: 12px; */
    border: 0;
    border-radius: 8px;
    color: #fff;
    position: relative;
    background-color: #05c46b;
    background: linear-gradient(#05c46b, #059954);
    /* text-shadow: 1px 1px #05c46b; */
    box-shadow: 0px 2px 6px 0px #333;
}

#scam:after {
    pointer-events: none;
    content: '';
    position: absolute;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    top: 2px;
    left: 2px;
    width: 124px;
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.2));
}

#scam:hover {
    animation: rumble .0625s infinite linear;
    cursor: pointer;
}

#scam:active {
    background-color: #059954;
}

@keyframes rumble {
    0% {transform: rotate(0deg);}
    25% {transform: translate(2px, 0px) rotate(-3deg);}
    50% {transform: translate(0px, -2px) rotate(0deg);}
    75% {transform: translate(-2px, 0px) rotate(3deg);}
    100% {transform: translate(0px, 2px) rotate(0deg);}
}

#qr-wrapper {
    margin: 32px auto;
    display: flex;
    flex-direction: column;
}

#qr {
    background-image: url("/img/qrcode.png");
    /* height: 100px;
    width: 100px; */
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat; Do not repeat the image */
    background-size: cover;
    padding: 100px;
    border-radius: 10px;
    background-color: #fff;
    /* margin: 100px; */
    animation: spin 5s infinite steps(4);
}

.subheading {
    font-weight: bold;
    margin: 0 auto;
}

.chk {
    /* margin: 64px auto; */
    line-height: 16px;
}

.chk label {
    font-size: 16px;
    line-height: 16px;
}

#is-human {
    width: 52px;
    margin: 0;
}


footer {
    text-align: center;
    margin: 10px 0;
}


.warning-label-bg {
    display: flex;
    max-width: 100%;
    background-color: black;
    /* display: block; */
    padding: 1vw;
}

.warning-label-content {
    /* display: inline-block; */
    /* justify-content: center; */
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    width: 100%;
    background-color: white;
    /* margin: auto; */
    padding: 2vw;
    user-select: none;
}

.reg-tm {
    /* display: inline-block; */
    font-family: sans-serif;
    font-weight: 900;
    font-size: 2vw;
    /* height: 1px; */
}

.marquee {
    display: block; /* Important to give the content a width */
    width: 100%;
    animation: move 10s linear infinite;
    /* transform: translateX(25%); */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes move {
    0% { transform: translateX(-25%); }

    50% {
        transform: translateX(25%);
    }

    100% {
        transform: translateX(-25%);
    }
  }

  @media screen and (max-width: 500px) {
    .warning-label-bg {
        display: flex;
        max-width: 100%;
        background-color: black;
        /* display: block; */
        padding: 2vw;
    }
    
    .warning-label-content {
        /* display: inline-block; */
        /* justify-content: center; */
        text-align: center;
        font-weight: bold;
        font-size: 8vw;
        width: 100%;
        background-color: white;
        /* margin: auto; */
        padding: 4vw;
        user-select: none;
    }
    
    .reg-tm {
        /* display: inline-block; */
        font-family: sans-serif;
        font-weight: 900;
        font-size: 5vw;
        /* height: 1px; */
    }

    .marquee {
        display: block; /* Important to give the content a width */
        width: 100%;
        animation: none;
        /* transform: translateX(25%); */
    }

    .offer {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 100%;
        top: -8vw;
        /* top: -10px; */
        /* top: -10px; */
        /* right: -5vw; */
        transform: rotate(25deg);
        background-color: yellow;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        padding: 6vw;
        font-size: 4vw;
        border-radius: 50%;
        overflow: hidden;
        user-select: none;
        width: 12vw;
        height: 12vw;
    }
}