body {
    /* font-family: 'Press Start 2P', sans-serif; */
    background-color: #e4e7ec;
}

h1 {
    text-align: center;
    position: relative;
}

#wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

.t-wrapper {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    /* padding: 16px; */
    /* background-color: blue; */
}

label {
    width: 250px;
    line-height: 32px;
    font-size: 21px;
}

.toggle {
    position: relative;
    height: 32px;
    width: 52px;
    cursor: pointer;
    border-radius: 32px;
    /* margin: 0 auto; */
}

.toggle span {
    position: absolute;
    transition: .2s;
    z-index: -1;
}

.toggle span:nth-child(1) {
    height: 32px;
    width: 52px;
    border-radius: 2rem;
    background-color: #c6c9cd;
}

.toggle span:nth-child(2) {
    height: 28px;
    width: 28px;
    left: 2px;
    top: 2px;
    border-radius: 28px;
    background-color: #e9edf1;
    box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.15);
}

.toggle.on span:nth-child(1) {
    transition-delay: .15s;
    background-color: #05c46b;
    /* background-color: #ff0000; */
}

.toggle.on span:nth-child(2) {  
    transform: translateX(20px);
    box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.15);
}

#card-info {
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

#card-info label {
    font-size: 16px;
}

#card-info input {
    margin-bottom: 16px;
}

/* #scam {

} */

#scam {
    height: 64px;
    width: 128px;
    margin: 16px auto;
    font-size: 18px;
    /* padding: 12px; */
    border: 0;
    border-radius: 8px;
    color: #fff;
    position: relative;
    background-color: #05c46b;
    background: linear-gradient(#05c46b, #059954);
    /* text-shadow: 1px 1px #05c46b; */
    box-shadow: 0px 2px 6px 0px #333;
}

#scam:after {
    pointer-events: none;
    content: '';
    position: absolute;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    top: 2px;
    left: 2px;
    width: 124px;
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.2));
}

#scam:hover {
    animation: rumble .0625s infinite linear;
    cursor: pointer;
}

#scam:active {
    background-color: #059954;
}

@keyframes rumble {
    0% {transform: rotate(0deg);}
    25% {transform: translate(2px, 0px) rotate(-3deg);}
    50% {transform: translate(0px, -2px) rotate(0deg);}
    75% {transform: translate(-2px, 0px) rotate(3deg);}
    100% {transform: translate(0px, 2px) rotate(0deg);} 
}

.offer {
    position: absolute;
    /* right: 0; */
    /* left: 59%; */
    top: 10px;
    /* right: 0; */
    transform: rotate(25deg);
    background-color: yellow;
    /* height: 200px;
    width: 200px; */
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 30px;
    /* line-height: 200px; */
    /* white-space: nowrap; */
    font-size: 21px;
    border-radius: 50%;
    /* width: 10%; */
}

.chk {
    margin: 0 auto;
    line-height: 16px;
}

.chk label {
    font-size: 16px;
    line-height: 16px;
}

#is-human {
    width: 52px;
    margin: 0;
}


footer {
    text-align: center;
}
